#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

ci/terraform.tf

**/example/.terraform
**/example/.terraform*
**/example/*.tfstate.*

aviator_pipeline.yml

**/.DS_Store

# terratest
**/go.mod
**/go.sum

# Misc
.idea

# concoure pipeline config
aviator_pipeline.yml
