#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

ci/terraform.tf

**/example/.terraform
**/example/.terraform*

aviator_pipeline.yml

# terratest
**/test/terratest/go.mod
**/test/terratest/go.sum

# Misc
.idea

# concoure pipeline config
aviator_pipeline.yml
